@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2e2e;
  color: #F7F0F5;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    border: 1px solid white;
}

p {
  margin: 0;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}